.content-container {
  margin: 0 auto;
  overflow: none;
  padding: 20px 0 50px;
}

.content-container p {
  max-width: 800px;
}

.content-container :first-child {
   margin-top: 0;
}

.team-members ul .content-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 40px auto;
  padding: 0 10px;
}

.grid-item {
  display: flex;
  flex-flow: column;
  border-radius: 2px;
  -ms-flex-preferred-size: 20%;
  -ms-flex-pack: end;
  margin-bottom: 20px;
  max-width: 440px;
  padding: 0 10px;
  position: relative;
  width: 100%;
}

.team-members ul .content-grid img {
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
}

.team-members .info {
  background: #F5F7F7;
  color: #fff;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 12px 20px;
}

.team-members .name {
  color: #4C5859;
  font-size: 2rem;
  line-height: 1em;
  margin-bottom: 0
}

.team-members .work-title {
  color: #89A19D;
  font-size: 1.6rem;
  font-style: regular;
  line-height: 1em;
  margin-top: 5px;
}

.team-members .top {
  position: relative;
  width: 100%;
}
.team-members li .social {
  background:rgba(46,53,53,.9);
  box-sizing:border-box;
  color:#fff;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column;
  -ms-flex-pack:center;
  justify-content:center;
  height:100%;
  left:0;
  opacity:0;
  padding:20px;
  position:absolute;
  text-align:center;
  top:0;
  transform:rotateX(90deg) rotateY(10deg);
  transform-origin:bottom left;
  width:100%;
  overflow:hidden;
  z-index:15
}

.team-members li:hover .social {
  opacity:1;
  transform:none
}
.team-members .social .social-icons {
 margin-bottom:10px
}
.team-members .social .icon {
 font-size:1.7rem;
 color:#89A19D;
 padding:0 5px
}
.team-members .social .icon:hover {
 opacity:.5
}
.team-members h4 {
 color:#89A19D
}
.team-members .location a {
 color:#fff;
 cursor:hand
}

@media screen and (max-width:800px) {
 section.about-section .copy-container>h2 {
  margin:20px 0
 }
 .team-members {
  padding:0
 }

 .team-members ul.content-grid>li {
  -ms-flex-preferred-size:50%;
  min-width:inherit
 }
 .content-container {
  padding:40px 20px
 }
}

@media screen and (min-width:801px) and (max-width:1000px) {
 .team-members ul.content-grid>li {
  -ms-flex-preferred-size:33.33%;
 }
}

@media screen and (min-width:1601px) {
 .team-members ul.content-grid>li {
  -ms-flex-preferred-size:16.6667%;
 }
}

@media screen and (max-width:800px) {
  .content-container {
   margin:0 auto
  }
  .content-container>div {
   display:-ms-flexbox;
   display:flex;
   -ms-flex-direction:row;
   flex-direction:row;
   -ms-flex-wrap:nowrap;
   flex-wrap:nowrap;
   -ms-flex-pack:center;
   justify-content:center;
   margin:0 -20px
  }
  .secondary-cta {
   background:#fff;
   box-sizing:border-box;
   box-shadow:0 6px 12px #E1E7E6;
   display:-ms-flexbox;
   display:flex;
   -ms-flex-preferred-size:50%;
   -ms-flex-direction:row;
   flex-direction:row;
   margin:0 20px;
   max-width:600px;
   padding:0 0 0 20px
  }
  .secondary-cta img {
   -ms-flex-item-align:center;
   align-self:center;
   border-radius:0 4px 4px 0;
   -ms-flex-negative:0;
   flex-shrink:0;
   height:60px;
   width:auto
  }
  .page-home .bottom-cta .content-container:last-child {
    padding:20px
  }
}

@media screen and (min-width:1281px) and (max-width:1600px) {
 .home-hero.nsolid>.content-container {
  max-width:52rem;
  max-height:550px
 }

 .content-container,_::-webkit-:not(:root:root) {
  padding:120px 0
 }
}
